@model IEnumerable<onlygodknows.Models.weekendlist>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>weekend list</h2>
<h4>Index</h4>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.weekend)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectList.PROJECT_NAME)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
                    var weekdayname = "";
                    switch (item.weekend)
                    {
                        case "5":
                            weekdayname = "Friday";
                            break;
                        case "6":
                            weekdayname = "Saturday";
                            break;
                        case "0":
                            weekdayname = "Sunday";
                            break;
                    }
                }
                @weekdayname
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectList.PROJECT_NAME)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
