@model IEnumerable<onlygodknows.Models.towemp>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "towrefs")
    <b style="float: right">
    @Html.ActionLink("back to main", "Index", "towrefs")
</b>
</p>

<div>
    <b><a href="@Url.Action("DownloadExcel", "towemps",new {tr = ViewBag.tw})">Download Excel</a></b>
</div>
<table class="table">
    <tr>
        <th>
            form
        </th>
        <th>
            to
        </th>
        <th>R no</th>
        <th>ref</th>
        <th>date</th>
    </tr>
    <tr>
        <td>
            @ViewBag.form
        </td>
        <td>
            @ViewBag.to
        </td>
        <td>
            @ViewBag.R_no
        </td>
        <td>
            @ViewBag.refe1
        </td>
        <td>
            @ViewBag.mpcdate
        </td>
    </tr>
</table>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.effectivedate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LabourMaster.EMPNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LabourMaster.Person_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LabourMaster.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LabourMaster.ManPowerSupply)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.effectivedate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabourMaster.EMPNO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabourMaster.Person_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabourMaster.Position)
            </td>
            <td>
                @switch (item.LabourMaster.ManPowerSupply)
                {
                    case 1:
                        <p>
                            CITISCAPE
                        </p>
                        break;
                    case 2:
                        <p>
                            CALIBERS
                        </p>
                        break;
                    case 3:
                        <p>
                            SAWAEED
                        </p>
                        break;
                    case 4:
                        <p>
                            TAKATOF
                        </p>
                        break;
                    case 5:
                        <p>
                            Shorook
                        </p>
                        break;
                    case 6:
                        <p>
                            ARABTEC
                        </p>
                        break;
                    case 7:
                        <p>
                            Fibrex
                        </p>
                        break;
                    case 8:
                        <p>
                            GROVE
                        </p>
                        break;
                }
            </td>
        </tr>
    }

</table>