@model onlygodknows.Models.Manpowerinoutform

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Manpowerinoutform</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.camp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.camp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobileNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.roomNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roomNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blanket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blanket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pillow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pillow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ck)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ck)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.copon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.copon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.check_in)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.check_in)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.check_out)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.check_out)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LabourMaster.VisaSponser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LabourMaster.VisaSponser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectList.ProjectCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectList.ProjectCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
