@model IEnumerable<onlygodknows.Models.Manpowerinoutform>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LabourMaster.EMPNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LabourMaster.Person_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.camp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.companyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mobileNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roomNo)
        </th>
        <th>
            stainless steel glass
        </th>
        <th>
            stainless steel spoon
        </th>
        <th>
            blanket
        </th>
        <th>
            bed sheet
        </th>
        <th>
            fitted sheet
        </th>
        <th>
            pillow
        </th>
        <th>
            pillow cover
        </th>
        <th>
            cupboard key
        </th>
        <th>
            room key
        </th>
        <th>
            camp ID card
        </th>
        <th>
            coupon
        </th>
        <th>
            @Html.DisplayNameFor(model => model.check_in)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.check_out)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectList.PROJECT_NAME)
        </th>
        @*<th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LabourMaster.EMPNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LabourMaster.Person_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.camp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.companyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mobileNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.roomNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SSg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SSp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.blanket)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pillow)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ck)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.copon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.check_in)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.check_out)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectList.PROJECT_NAME)
        </td>@*
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>*@
    </tr>
}

</table>
