@model IEnumerable<onlygodknows.Models.Attendance>

@{
    ViewBag.Title = "csearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 0;
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    var weekday = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
    $(function () {
        $("#datepicker").datepicker({
            altField: "#alternate",
            altFormat: "MM,yy",
            changeMonth: true,
            changeYear: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            showButtonPanel: true,
            dateFormat:"dd M yy"
        });
    });
//    if (jsDate !== null) { // if any date selected in datepicker
//        jsDate instanceof Date; // -> true
//        jsDate.getDate();
//        jsDate.getMonth();
//        jsDate.getFullYear();}
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $('input#btnSubmit').on('click',
            function() {
                var myForm = $("form#form1");
                if (myForm) {
                    $(this).prop('disabled', true);
                    $(myForm).submit();
                }
            });
    });
</script>
<style>
        tr:nth-child(even) { background-color: #eee; }

    tr:nth-child(odd) { background-color: #fff; }

    th {
        background-color: #825353;
        color: white;
    }

    td,
    th {
        border: 1px solid black;
        padding: 010px;
    }
</style>
<h2>search</h2>
@if (Request.IsAuthenticated)
{
using (Html.BeginForm("csearch", "Home", FormMethod.Get, new { id = "form1" }))
{
    <div>
        <div class="col-lg-2"><input id="datepicker" name="mtsmonth" type="text" value="@ViewBag.dateee" placeholder="select date" class="form-control"></div>
        <div class="col-lg-2">@Html.DropDownList("csmps", new List<SelectListItem>(ViewBag.csmps), new { @class = "form-control" })</div>
        <div class="col-lg-2"><input type="text" id="alternate" readonly="readonly" value="@ViewBag.MM" name="MM" class="form-control" /></div>
        
        
        
        
        <input type="submit" value="search" class="btn btn-default"/>
        @Html.ValidationSummary(false, string.Empty, new { @class = "text-danger" })
    </div>
    <br/>
    if (Model.Count() != 0)
    {
        <div>
            <b><a href="@Url.Action("DownloadExcelfull", "home", new {mtsmonth1 = ViewBag.mtsmonth1, csp1 = ViewBag.csp1, csmps1 = ViewBag.csmps1})">Download Excel</a></b>
        </div>
    }
    <div>
    <br/>
    @{
        long? tth=0, ttnt=0, ttot=0, tta=0, ttvl=0, ttt=0, ttsl=0, tfh=0,tho=0 ;
        


    }
    <table class="table">
        <tr>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.Identity.Name == "sdiniz")
                {
                    <th>
                        @Html.DisplayNameFor(model => model.ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SubMain)
                    </th>
                }
            }
            <th>SR#</th>
            <th>project name</th>
            <th>
                @Html.DisplayNameFor(model => model.LabourMaster.EMPNO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LabourMaster.Person_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LabourMaster.Position)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.SubMain)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.C1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C11)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C12)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C13)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C14)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C15)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C16)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C17)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C18)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C19)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C20)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C21)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C22)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C23)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C24)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C25)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C26)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C27)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C28)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C29)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C30)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C31)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalHours)
            </th>
            <th>
                @Html.DisplayName("total normalTime")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalOverTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAbsent)
            </th>
            @*
        <th>
            @Html.DisplayNameFor(model => model.AccommodationDeduction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodDeduction)
        </th>
            <th>
                @Html.DisplayNameFor(model => model.Holidays)
            </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalWorkingDays)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.TotalVL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalTransefer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalSickLeave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FridayHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Holidays)
            </th>
        </tr>

    @foreach (var item in Model)
    {
    <tr>
        @if (User.Identity.IsAuthenticated)
        {
            if (User.Identity.Name == "sdiniz")
            {
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubMain)
                </td>
            }
        }
    <td>
        @{
            i++;
            @i
        }
    </td>
        <td>
            @Html.DisplayFor(modelItem => item.MainTimeSheet.ProjectList.PROJECT_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LabourMaster.EMPNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LabourMaster.Person_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LabourMaster.Position)
        </td>
        @*
        <td>
            @Html.DisplayFor(modelItem => item.SubMain)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.C1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C9)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C10)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C11)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C12)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C13)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C14)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C15)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C16)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C17)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C18)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C19)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C20)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C21)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C22)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C23)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C24)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C25)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C26)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C27)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C28)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C29)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C30)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C31)
        </td>
        <td>
            @{
                tth += item.TotalHours;
            }
            @Html.DisplayFor(modelItem => item.TotalHours)
        </td>
        <td>
            @{
                var a = item.TotalHours;
                var b = item.TotalOverTime;
                var c = item.FridayHours;
                var d = item.Holidays;
                var a_b = new long?();
                if (a != null || a != 0)
                {
                    if (d == null)
                    {
                        d = 0;
                    }
                    if (b == null)
                    {
                        b = 0;
                    }
                    if (c == null)
                    {
                        c = 0;
                    }
                    if (b != null || b != 0)
                    {
                        a_b = a - b - c - d;
                    }
                    else
                    {
                        a_b = a - c - d;
                    }
                }
                else
                {
                    a_b = 0;
                }
                ttnt += a_b;
            }
            @Html.DisplayName(a_b.ToString())
        </td>
        <td>
            @{
                if (item.TotalOverTime == null)
                {
                    item.TotalOverTime = 0;
                }
                ttot += item.TotalOverTime;
            }
            @Html.DisplayFor(modelItem => item.TotalOverTime)
        </td>
        <td>
            @{
                if (item.TotalAbsent == null)
                {
                    item.TotalAbsent = 0;
                }
                tta += item.TotalAbsent;
            }
            @Html.DisplayFor(modelItem => item.TotalAbsent)
        </td>
        @*
        <td>
            @Html.DisplayFor(modelItem => item.AccommodationDeduction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoodDeduction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Holidays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalWorkingDays)
        </td>*@
        <td>
            @{
                if (item.TotalVL == null)
                {
                    item.TotalVL = 0;
                }
                ttvl += item.TotalVL;
            }
            @Html.DisplayFor(modelItem => item.TotalVL)
        </td>
        <td>
            @{
                if (item.TotalTransefer == null)
                {
                    item.TotalTransefer = 0;
                }
                ttt += item.TotalTransefer;
            }
            @Html.DisplayFor(modelItem => item.TotalTransefer)
        </td>
        <td>
            @{
                if (item.TotalSickLeave == null)
                {
                    item.TotalSickLeave = 0;
                }
                ttsl += item.TotalSickLeave;
            }
            @Html.DisplayFor(modelItem => item.TotalSickLeave)
        </td>
        <td>
            @{
                if (item.FridayHours == null)
                {
                    item.FridayHours = 0;
                }
                tfh += item.FridayHours;
            }
            @Html.DisplayFor(modelItem => item.FridayHours)
        </td>
        <td>
            @{
                if (item.Holidays == null)
                {
                    item.Holidays = 0;
                }
                tho += item.Holidays;
            }
            @Html.DisplayFor(modelItem => item.Holidays)
        </td>
    </tr>
    }
    <tr>
        @if (User.Identity.IsAuthenticated)
        {
            if (User.Identity.Name == "sdiniz")
            {
                <td colspan="38">total</td>
            }
            else
            {
                <td colspan="36">total</td>
            }
        }
        else
        {

            <td colspan="36">total</td>
        }
        <td>@tth</td>
        <td>@ttnt</td>
        <td>@ttot</td>
        <td>@tta</td>
        <td>@ttvl</td>
        <td>@ttt</td>
        <td>@ttsl</td>
        <td>@tfh</td>
        <td>@tho</td>
    </tr>
    </table>
    </div>
}
}