@using Microsoft.Ajax.Utilities
@model PagedList.IPagedList<onlygodknows.Models.test>
@{
    ViewBag.Title = "download";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/Style.css"/>
<script>
    $(function () {
        $("#datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            showButtonPanel: true
    });
    });
</script>
@*<script>$(function() {
        $('#datepicker').attr('readonly', true);
        $('#csp2').attr('readonly', true);
        $('#csmps2').attr('readonly', true);
    });
</script>*@
<script type="text/javascript">
    /*--This JavaScript method for Print command--*/
    function PrintDoc() {
        var toPrint = document.getElementById('printarea');
        var popupWin = window.open('', '_blank', 'width=1000,height=500,location=no,left=200px');
        var ss="<script>$(function() {$('#datepicker').attr('readonly', true);$('#csp2').attr('readonly', true);$('#csmps2').attr('readonly', true);});<\/scrip>";
        popupWin.document.open();
        popupWin.document.write(
            '<html><head><link href="/Content/bootstrap.css" rel="stylesheet"><link rel="stylesheet" type="text/css" href="/Content/print.css" /></head><body onload="window.print()" style="margin-left: 50px;">');
        popupWin.document.write(toPrint.innerHTML);
        popupWin.document.write('</body></html>');
        popupWin.document.close();
    }

/*--This JavaScript method for Print Preview command--*/
    function PrintPreview() {
        var toPrint = document.getElementById('printarea');
        var popupWin = window.open('', '_blank', 'width=1000,height=500,location=no,left=200px');
        popupWin.document.open();
        popupWin.document.write(
            '<html><link rel="stylesheet" type="text/css" href="/Content/Print.css" media="screen"/></head><body style="margin-left: 50px;">');
        popupWin.document.write(toPrint.innerHTML);
        popupWin.document.write('</html>');
        popupWin.document.close();
    }
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
         </script> 
<script type="text/javascript">
    $(document).ready(function() {
        $('input#btnSubmit').on('click',
            function() {
                var myForm = $("form#form1");
                if (myForm) {
                    $(this).prop('disabled', true);
                    $(myForm).submit();
                }
            });
    });
</script>
<h2>print/submit timesheet</h2>
@if (Request.IsAuthenticated)
{

using (Html.BeginForm("download", "Home", FormMethod.Get, new { id = "form1" }))
{
<div id="printarea">
    <div >
        <div class="row">
            <div class="col-lg-3"><input id="datepicker" name="mtsmonth2" type="text" value="@ViewBag.dateee" placeholder="select date" class="form-control"></div>
            <div class="col-lg-3"> @Html.DropDownList("csp2", new List<SelectListItem>(ViewBag.csp), new { @class = "form-control" })</div>
            <div class="col-lg-3"> @Html.DropDownList("csmps2", new List<SelectListItem>(ViewBag.csmps), new { @class = "form-control" })</div>
            
           
           
        </div>
        
        <div class="row" style="margin-top: 10px">
            <div class="col-xs-1">
                <input type="submit" value="Search" name="search" class="btn1 btn btn-default" id="search" />
            </div>
            <div class="col-xs-1">
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Employee"))
                {
                    <input type="submit" value="Submit" name="approval" class="btn1 btn btn-default" formaction="@Url.Action("approval")"/>
                }
            }
            </div>
            <div class="col-xs-1">
                <input type="button" value="Print" class="btn1 btn btn-default" onclick="PrintDoc()"/>
            </div>
            <div class="col-lg-5">
                @if (Model.Count > 0)
                {
                    <p style="color: red; font-size: 16px" id="status">@Model[0].status</p>
                }
            </div>

        </div>
        <div class="row">
            @Html.ValidationSummary(false, string.Empty, new { @class = "text-danger", style = "font-size: 20px;" })
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <table class="table" style="border: 1px solid black; border-collapse: collapse; width: 20%;">
            <tr>
                <th>
                    @Html.DisplayName("EMP ID")
                </th>
                <th>
                    @Html.Label("Hours")
                </th>
                <th>
                    @Html.DisplayName("EMP ID")
                </th>
                <th>
                    @Html.Label("Hours")
                </th>
                <th>
                    @Html.DisplayName("EMP ID")
                </th>
                <th>
                    @Html.Label("Hours")
                </th>
                <th>
                    @Html.DisplayName("EMP ID")
                </th>
                <th>
                    @Html.Label("Hours")
                </th>
                <th>
                    @Html.DisplayName("EMP ID")
                </th>
                <th>
                    @Html.Label("Hours")
                </th>
                <th>
                    @Html.DisplayName("EMP ID")
                </th>
                <th>
                    @Html.Label("Hours")
                </th>
                <th>
                    @Html.DisplayName("EMP ID")
                </th>
                <th>
                    @Html.Label("Hours")
                </th>
            </tr>
            @{
                var i = 0;
                foreach (var item in Model)
                {
                    if (i % 7 == 0)
                    {
                        <tr />

                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.empno)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.hours)
                    </td>
                    i++;
                }

            }
        </table>
    </div>
    <br />
    <br />
    <br/>
    <br/>
    <div class="row">
        @*<div class="col-sm-3">
            Prepared by: @User.Identity.Name
        </div>
        <div class="col-sm-3">
            
        </div>
        <div class="col-sm-4">
            Approved by:
        </div>*@
        <pre>Prepared by:@if (Model.Count > 0){if (!Model[0].submitted_by.IsNullOrWhiteSpace()){@Model[0].submitted_by}else{@User.Identity.Name}}else{@User.Identity.Name}                              Reviewed by:                                     Approved by:@if (Model.Count > 0){@Model[0].approved_by} </pre>
    </div>
</div>
}}