@model onlygodknows.Models.testlist
@{
    ViewBag.Title = "attendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>attendance</h2>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script>

     var counter = 1;
     var number = 0;

     $(function() {
         $("#empno0").chosen({ no_results_text: "Oops, nothing found!" });
         $('#add').click(() => {
             chosendestroy();
             number = counter++;
             if (counter < 25) {
                 if (number < $('#empno0').children('option').length - 1) {
                     container = $('#tablerow1');
                     template = $('#tr0');
                     var no = number - 1;
                     var clone = template.clone(true).val('');
                     clone.attr('id', "tr" + number);
                     clone.find('#hours' + 0).attr('name', 'Tests[' + number + '].hours');
                     clone.find('#hours' + 0).attr('id', 'hours' + number);
                     clone.find('#empno0').attr('name', 'Tests[' + number + '].empno');
                     clone.find('#empno0').attr('id', 'empno' + number);
                     clone.find('#dd' + 0).attr('id', 'dd' + number);
                     clone.find('#name' + 0).attr('id', 'name' + number);
                     clone.find('#position' + 0).attr('id', 'position' + number);
                     clone.find('#name' + 0).attr('name', 'name' + number);
                     clone.find('#position' + 0).attr('name', 'position' + number);
                     clone.find('#re')
                         .append(" <input type = \"button\" value = \"Remove\" onclick = \"remove(this.id)\"  id=\"" +
                             number +
                             "\"/> ");
                     container.append(clone).before(clone);
                 }
             }
         });
     });
     function chosendestroy() {
         $("#empno0").chosen("destroy");
     }
     function createchosen() {
         for (var i = 0; i < counter; i++) {
             if ($("#empno"+i).length !== 0) {
                 $("#empno" + i).chosen({ no_results_text: "Oops, nothing found!" });
             }
         }
     }
     function remove(id) {
         $("#tr" + id).remove();
         check();
     }

     function hi() {
         createchosen();
         for (var i = 0; i < number + 1; i++) {
             for (var j = 0; j < i; j++) {
                 if ($('#empno' + j).length) {
                     if ($('#empno' + i + ' option:selected').text() ===
                         $('#empno' + j + ' option:selected').text()) {
                         $('#save').attr("disabled", true);
                         $('#add').attr("disabled", true);
                         dishr();
                         $('#dd' + j).show();
                         $('#ddd').show();
                         break;
                     } else {
                         enhr();
                         check();
                         $('#dd' + j).hide();
                         $('#ddd').hide();
                     }
                 }
                 
             }
         }
     }

     function dishr() {
         for (var i = 0; i < counter; i++) {
             $('#hours' + i).attr("disabled", true);
         }
     }

     function enhr() {
         for (var i = 0; i < counter; i++) {
             $('#hours' + i).attr("disabled", false);
         }
     }

     function check() {
         for (var i = 0; i < counter; i++) {
             if ($('#hours' + i).length) {
                 if ($('#hours' + i + ' option:selected').text() == "") {
                     $('#add').attr('disabled', true);
                     $('#save').attr('disabled', true);
                     break;
                 }
             
             }
             if ($('#empno' + i).length) {
                 if ($('#empno' + i + ' option:selected').val() == "") {
                     $('#add').attr('disabled', true);
                     $('#save').attr('disabled', true);
                     break;
                 }
             }
             $('#add').attr('disabled', false);
             $('#save').attr('disabled', false);

         }
     }

     function trial(id) {
         name(id);
         check();
     }
 </script>
<script>
    document.onclick = hi;
    function name(id) {
        var x = document.getElementById(id);
        var id1 = x.id.toString();
        id1 = id1.replace('empno', '');
        var y = document.getElementById("name" + id1);
        var z = document.getElementById("position" + id1);
        y.value = x.value;
        z.value = x.value;
    }
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
</script>
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("tests", "Home", FormMethod.Post, new { id = "myform" }))
    {
        @Html.AntiForgeryToken()
        <div class="row" onclick="check()" style="margin-left:-25px">
        <input type="text" value="@ViewBag.mdate" disabled="disabled:true" style="font-size: 14px; width: 183px;"/>
        <input type="text" value="@ViewBag.mps" disabled="disabled:true"/>
        <input type="text" value="@ViewBag.pid" disabled="disabled:true" style="font-size: 14px; width: 183px;"/>
        <input type="submit" value="save" class="btn btn-default" id="save" disabled="disabled:true"/>
        </div>
        <div class="form-horizontal" onclick="check()">
        <div class="form-group">
            <div class="row">
                @Html.ValidationSummary(false, string.Empty, new { @class = "text-danger", style = "font-size: 20px;" })
                <table id="submissionTable" class="table table-bordered">
                    <thead style="text-transform: capitalize">
                    <th>employee no</th>
                    <th>hours</th>
                    <th></th>
                    <th id="ddd" style="display: none;"></th>
                    </thead>
                    <tbody>
                    <tr id="tr0">
                        <td>
                            <div class="row">
                                <div class="col-lg-3">
                                    @Html.DropDownList("Tests[" + 0 + "].empno", new List<SelectListItem>(ViewBag.empno), "Select EMP No", new { @id = "empno0", @onchange = "trial(this.id)", @class = "form-control" })
                                </div>
                                <div class="col-lg-3">
                                    @Html.DropDownList("name0", new List<SelectListItem>(ViewBag.name), "  ", new { @id = "name0", @disabled = "disabled:true", @class = "form-control" })
                                </div>
                                <div class="col-lg-3">
                                    @Html.DropDownList("position0", new List<SelectListItem>(ViewBag.position), "  ", new { @id = "position0", @disabled = "disabled:true", @class = "form-control" })
                                </div>
                            </div>
                        </td>
                        <td>
                            @Html.DropDownList("Tests[" + 0 + "].hours", new List<SelectListItem>(ViewBag.hours), new { @class = "form-control", id = "hours0", onchange = "check()" })

                        </td>
                        <td id="re"></td>
                        <td style="color: red; display: none;" id="dd0">dublicate</td>
                    </tr>
                    <tr id="tablerow1"></tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    }
}