@model onlygodknows.Models.Attendance

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Attendance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.C1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C17)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C19)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C19)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C20)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C20)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C21)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C21)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C22)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C22)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C23)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C23)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C24)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C24)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C25)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C25)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C26)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C26)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C27)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C27)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C28)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C28)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C29)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C29)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C30)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C30)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C31)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C31)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalOverTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalOverTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAbsent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAbsent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccommodationDeduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccommodationDeduction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodDeduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodDeduction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalWorkingDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalWorkingDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalVL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalVL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalTransefer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalTransefer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalSickLeave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalSickLeave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FridayHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FridayHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Holidays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Holidays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManPowerSupply)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManPowerSupply)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Encoded_Absolute_URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Encoded_Absolute_URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL_Path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL_Path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Workflow_Instance_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Workflow_Instance_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.xABST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.xABST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nABST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nABST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.xOT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.xOT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nnOT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nnOT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skilled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skilled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unskilled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unskilled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skilledhours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skilledhours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unskilledhours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unskilledhours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skilledrothours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skilledrothours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unskilledrothours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unskilledrothours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skilledfothours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skilledfothours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unskilledfothours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unskilledfothours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skilledhothours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skilledhothours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unskilledhothours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unskilledhothours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skilledthours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skilledthours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unskilledthours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unskilledthours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalWorkers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalWorkers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.absapproved_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.absapproved_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LabourMaster.VisaSponser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LabourMaster.VisaSponser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainTimeSheet.Ref)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainTimeSheet.Ref)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
