@using Microsoft.Ajax.Utilities
@model PagedList.IPagedList<onlygodknows.Models.test>
@{
    ViewBag.Title = "details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int totalhrs = 0;
    int totalemp = 0;
    int totalsick = 0;
    int totalabsent = 0;
    int totalleave = 0;
    int totaloff = 0;
    int totaltransfer = 0;
}
@if (Request.IsAuthenticated)
{
    
    {
        <div id="printarea">
            <div>
                <div class="row">
                    <table class="table" style="border: 1px solid black; border-collapse: collapse;">
                        <tr>
                            <th>
                                date
                            </th>
                            <th>
                                manpower supplier
                            </th>
                            <th>
                                project
                            </th>
                        </tr>
                        <tr>
                            <td>
                                
                                @this.ViewBag.mtsmonth1.ToString("dd MMMM yyyy")
                            </td>
                            <td>
                                @this.ViewBag.csmps1
                            </td>
                            <td>
                                @this.ViewBag.csp1
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <table class="table" style="border: 1px solid black; border-collapse: collapse; ">
                    <tr>
                        @for (int ij = 0; ij < 5; ij++)
                        {
                            <th>
                                @Html.DisplayName("EMP ID")
                            </th>
                            <th>
                                @Html.Label("name")
                            </th>
                            <th>
                                @Html.Label("position")
                            </th>
                            <th>
                                @Html.Label("Hours")
                            </th>
                        }
                    </tr>
                    @{
                        var sidetotal = 0;
                        var sidetotalem = 0;
                        var i = 0;
                        foreach (var item in Model)
                        {
                            totalemp++;
                            if (i % 5 == 0)
                            {
                                <tr />

                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.empno)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.position)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.hours)
                            </td>
                            var trycheck = int.TryParse(item.hours, out var hrsto);
                            totalhrs += hrsto;
                            i++;
                            if (trycheck == false)
                            {
                                switch (item.hours)
                                {
                                    case "A":
                                        totalabsent++;
                                        break;
                                    case "O":
                                        totaloff++;
                                        break;
                                    case "T":
                                        totaltransfer++;
                                        break;
                                    case "S":
                                        totalsick++;
                                        break;
                                    case "V":
                                        totalleave++;
                                        break;
                                }
                            }
                        }
                    }
                </table>
                <br/>
                <br/>
                <br/>
                <table class="table" style="border: 1px solid black; border-collapse: collapse;">
                    <tr>
                        <th>total employees</th>
                        <th> hours</th>
                        <th> absent</th>
                        <th> sick</th>
                        <th> transfer</th>
                        <th> off</th>
                        <th> vacation</th>
                    </tr>
                    <tr>
                        <td>@totalemp</td>
                        <td>@totalhrs</td>
                        @if (totalabsent == 0)
                            {
                                <td>N/A</td>
                            }
                        else
                        {
                            <td>@totalabsent</td>
                        }
                        @if (totalsick == 0)
                            {
                                <td>N/A</td>
                            }
                        else
                        {
                            <td>@totalsick</td>
                        }
                        @if (totaltransfer == 0)
                            {
                                <td>N/A</td>
                            }
                        else
                        {
                            <td>@totaltransfer</td>
                        }
                        @if (totaloff == 0)
                            {
                                <td>N/A</td>
                            }
                        else
                        {
                            <td>@totaloff</td>
                        }
                        @if (totalleave == 0)
                            {
                                <td>N/A</td>
                            }
                        else
                        {
                            <td>@totalleave</td>
                        }
                    </tr>
                </table>
            </div>
            <br />
            <br />
            <br />
            <br />
            @Html.ActionLink("back to main", "timesheetsub",new{ subdate= this.ViewBag.mtsmonth1 })
        </div>
    }
}
