@model IEnumerable<onlygodknows.Models.approval>

@{
    ViewBag.Title = "PMapproval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Request.IsAuthenticated)
{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/Style.css" />
    <script>
        $(function () {
            $("#datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                showOtherMonths: true,
                selectOtherMonths: true,
                showButtonPanel: true
            });
        });
    </script>
    <style>
        tr:nth-child(even) { background-color: #eee; }

        tr:nth-child(odd) { background-color: #fff; }

        th {
            background-color: #825353;
            color: white;
        }

        td,
        th {
            border: 1px solid black;
            padding: 010px;
        }

        @Page {
            margin: 3mm;
            size: A4;
        }
    </style>
    <h2>approval timesheet</h2>
    @*using (Html.BeginForm())
    {
<div style="margin-left:-16px ">
    <div class="col-lg-3"><input id="datepicker" name="mtsmonth2" type="text" value="@ViewBag.csdate" placeholder="select date" class="form-control"></div>
    <div class="col-lg-3">@Html.DropDownList("pro", new List<SelectListItem>(ViewBag.csp), new { @class = "form-control" })</div>
    <div class="col-lg-3"> @Html.DropDownList("manPower", new List<SelectListItem>(ViewBag.csmps), new { @class = "form-control" })</div>
    <div class="col-lg-3"><input type="submit" value="search" name="search" class="btn btn-default" /></div>
</div>
        
       
        
    }*@
    <div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3"></div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("EMP ID")
            </th>
            <th>
                @Html.Label("Hours")
            </th>
            <th>
                @Html.DisplayName("EMP ID")
            </th>
            <th>
                @Html.Label("Hours")
            </th>
            <th>
                @Html.DisplayName("EMP ID")
            </th>
            <th>
                @Html.Label("Hours")
            </th>
            <th>
                @Html.DisplayName("EMP ID")
            </th>
            <th>
                @Html.Label("Hours")
            </th>
            <th>
                @Html.DisplayName("EMP ID")
            </th>
            <th>
                @Html.Label("Hours")
            </th>
            <th>
                @Html.DisplayName("EMP ID")
            </th>
            <th>
                @Html.Label("Hours")
            </th>
            <th>
                @Html.DisplayName("EMP ID")
            </th>
            <th>
                @Html.Label("Hours")
            </th>
        </tr>
        @{
            DateTime date;
            DateTime.TryParse(ViewBag.csdate, out date);
            var i = 0;
            foreach (var item in Model)
            {
                if (i % 7 == 0)
                {
                    <tr />
                }

                <td>
                    @Html.DisplayFor(modelItem => item.Empno)
                </td>
                if (date.Day == 1)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance.C1)
                    </td>
                }
                else if (date.Day == 2)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance.C2)
                    </td>
                }
                else if (date.Day == 3)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance.C3)
                    </td>
                }
                else if (date.Day == 4)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance.C4)
                    </td>
                }
                else if (date.Day == 5)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance.C5)
                    </td>
                }
                else if (date.Day == 6)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance.C6)
                    </td>
                }
                else if (date.Day == 7)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance.C7)
                    </td>
                }
                else if (date.Day == 8)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance.C8)
                    </td>
                }
                else if (date.Day == 9)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance.C9)
                    </td>
                }
                else if (date.Day == 10)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance.C10)
                    </td>
                }
                else if (date.Day == 11)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance.C11)
                    </td>
                }
                else if (date.Day == 12)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance.C12)
                    </td>
                }
                else if (date.Day == 13)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance.C13)
                    </td>
                }
                else if (date.Day == 14)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance.C14)
                    </td>
                }
                else if (date.Day == 15)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance.C15)
                    </td>
                }
                else if (date.Day == 16)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance.C16)
                    </td>
                }
                else if (date.Day == 17)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance.C17)
                    </td>
                }
                else if (date.Day == 18)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance.C18)
                    </td>
                }
                else if (date.Day == 19)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance.C19)
                    </td>
                }
                else if (date.Day == 20)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance.C20)
                    </td>
                }
                else if (date.Day == 21)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance.C21)
                    </td>
                }
                else if (date.Day == 22)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance.C22)
                    </td>
                }
                else if (date.Day == 23)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance.C23)
                    </td>
                }
                else if (date.Day == 24)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance.C24)
                    </td>
                }
                else if (date.Day == 25)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance.C25)
                    </td>
                }
                else if (date.Day == 26)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance.C26)
                    </td>
                }
                else if (date.Day == 27)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance.C27)
                    </td>
                }
                else if (date.Day == 28)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance.C28)
                    </td>
                }
                else if (date.Day == 29)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance.C29)
                    </td>
                }
                else if (date.Day == 30)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance.C30)
                    </td>
                }
                else if (date.Day == 31)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance.C31)
                    </td>
                }

                i++;
            }

        }
    </table>
    <br />
    <br />
    <br />
    <pre>submited by :@ViewBag.suser               reviewed by :               approved by:@User.Identity.Name</pre>

    <br />
    <br />
    <br />
    if (User.Identity.IsAuthenticated)
     {
         if (User.IsInRole("Project_manager"))
         {
             <div class="row">
                 <div class="col-md-2">
                     <input type="submit" value="Approve" class="btn btn-default" style="color: green;" onclick="window.location.href = '@Url.Action("approved")'"/>
                 </div>
                 <div class="col-md-6">
                     @using (Html.BeginForm("rejected", "Projman"))
                     {
                         <div class="col-md-3"><input type="submit" class="btn btn-default" value="Reject" style="color: red;" @*onclick="window.location.href = '@Url.Action("rejected")'"*@/></div>
                         <div class="col-md-3">
                             <p><input type="text" name="why" required class="btn btn-default" placeholder="Comment"/></p></div>

                     }
                 </div>
             </div>
         }
     }
}