@model IEnumerable<onlygodknows.Models.approval>

@{
    ViewBag.Title = "PMapproval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Request.IsAuthenticated)
{
    <style>
        tr:nth-child(even) {
            background-color: #eee;
        }

        tr:nth-child(odd) {
            background-color: #fff;
        }

        th {
            background-color: black;
            color: white;
        }
        td,
        th {
            padding: 010px;
            border: 1px solid black;
        }
        @Page {
            size: A4;
            margin: 3mm
        }
    </style>
    <h2>approval </h2>
    <pre> @ViewBag.csdate     <b>manpower supplier:</b> @ViewBag.csmsp    <b>project:</b> @ViewBag.csp  </pre>
    <table class="table">
    <tr>
        <th>
            @Html.DisplayName("EMP ID")
        </th>
        <th>
            @Html.Label("Hours")
        </th>
        <th>
            @Html.DisplayName("EMP ID")
        </th>
        <th>
            @Html.Label("Hours")
        </th>
        <th>
            @Html.DisplayName("EMP ID")
        </th>
        <th>
            @Html.Label("Hours")
        </th>
        <th>
            @Html.DisplayName("EMP ID")
        </th>
        <th>
            @Html.Label("Hours")
        </th>
        <th>
            @Html.DisplayName("EMP ID")
        </th>
        <th>
            @Html.Label("Hours")
        </th>
        <th>
            @Html.DisplayName("EMP ID")
        </th>
        <th>
            @Html.Label("Hours")
        </th>
        <th>
            @Html.DisplayName("EMP ID")
        </th>
        <th>
            @Html.Label("Hours")
        </th>
    </tr>
    @{
        DateTime date;
        DateTime.TryParse(ViewBag.csdate, out date);
        var i = 0;
        foreach (var item in Model)
        {
            if (i % 7 == 0)
            {
                <tr/>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Empno)
            </td>
            if (date.Day == 1)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance.C1)
                </td>
            }
            else if (date.Day == 2)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance.C2)
                </td>
            }
            else if (date.Day == 3)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance.C3)
                </td>
            }
            else if (date.Day == 4)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance.C4)
                </td>
            }
            else if (date.Day == 5)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance.C5)
                </td>
            }
            else if (date.Day == 6)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance.C6)
                </td>
            }
            else if (date.Day == 7)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance.C7)
                </td>
            }
            else if (date.Day == 8)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance.C8)
                </td>
            }
            else if (date.Day == 9)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance.C9)
                </td>
            }
            else if (date.Day == 10)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance.C10)
                </td>
            }

            else if (date.Day == 11)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance.C11)
                </td>
            }
            else if (date.Day == 12)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance.C12)
                </td>
            }
            else if (date.Day == 13)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance.C13)
                </td>
            }
            else if (date.Day == 14)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance.C14)
                </td>
            }
            else if (date.Day == 15)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance.C15)
                </td>
            }

            else if (date.Day == 16)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance.C16)
                </td>
            }
            else if (date.Day == 17)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance.C17)
                </td>
            }
            else if (date.Day == 18)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance.C18)
                </td>
            }
            else if (date.Day == 19)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance.C19)
                </td>
            }
            else if (date.Day == 20)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance.C20)
                </td>
            }

            else if (date.Day == 21)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance.C21)
                </td>
            }
            else if (date.Day == 22)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance.C22)
                </td>
            }
            else if (date.Day == 23)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance.C23)
                </td>
            }
            else if (date.Day == 24)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance.C24)
                </td>
            }
            else if (date.Day == 25)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance.C25)
                </td>
            }
            else if (date.Day == 26)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance.C26)
                </td>
            }
            else if (date.Day == 27)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance.C27)
                </td>
            }
            else if (date.Day == 28)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance.C28)
                </td>
            }
            else if (date.Day == 29)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance.C29)
                </td>
            }
            else if (date.Day == 30)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance.C30)
                </td>
            }
            else if (date.Day == 31)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance.C31)
                </td>
            }

            i++;
        }

    }
    </table>
    <br/>
    <br/>
    <br/>
    <pre>submited by :@ViewBag.suser               reviewed by :               approved by:@User.Identity.Name</pre>

    <br/>
    <br/>
    <br/>
    <input type="submit" value="approve" style="color: black; background-color: green" onclick="window.location.href = '@Url.Action("approved")'"/>
    <input type="submit" value="reject" style="color: black; background-color: red" onclick="window.location.href = '@Url.Action("rejected")'"/>
}