@model onlygodknows.Models.asignproject[]

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script>
    var counter = 1;
    var number = 0;

    $(function () {
        $("#lab_no0").chosen({ no_results_text: "Oops, nothing found!" });
        $('#add').click(() => {
            chosendestroy();
            number = counter++;
            if (counter < 25) {
                if (number < $('#lab_no0').children('option').length - 1) {
                    container = $('#tablerow1');
                    template = $('#tr0');
                    var no = number - 1;
                    var clone = template.clone(true).val('');
                    clone.attr('id', "tr" + number);
                    clone.find('#lab_no0').attr('name', 'asignproject[' + number + '].lab_no');
                    clone.find('#lab_no0').attr('id', 'lab_no' + number);
                    clone.find('#Project0').attr('name', 'asignproject[' + number + '].Project');
                    clone.find('#Project0').attr('id', 'Project' + number);
                    clone.find('#dd' + 0).attr('id', 'dd' + number);
                    clone.find('#re')
                        .append(" <input type = \"button\" value = \"Remove\" onclick = \"remove(this.id)\"  id=\"" +
                            number +
                            "\"/> ");
                    container.append(clone).before(clone);
                }
            }
            $("#" + (number - 1)).remove();
            createchosen();
        });
    });

    function chosendestroy() {
        $("#lab_no0").chosen("destroy");
    }

    function createchosen() {
        for (var i = 0; i < counter; i++) {
            if ($("#lab_no" + i).length !== 0) {
                $("#lab_no" + i).chosen({ no_results_text: "Oops, nothing found!" });
            }
        }
    }

    function remove(id) {
        $("#tr" + id).remove();
        counter--;
        if ((id - 1) != 0) {
            $("#tr" + (id - 1)).find('#re')
                .append(" <input type = \"button\" value = \"Remove\" onclick = \"remove(this.id)\"  id=\"" +
                    (id - 1) +
                    "\"/> ");
        }

    }
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h4>assign project</h4>
    <hr />
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="save" class="btn btn-default" />
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.LabelFor(model => model[0].lab_no, "lab_no", htmlAttributes: new { @class = "control-label col-md-2" })</th>
                <th>
                    @Html.LabelFor(model => model[0].Project, "Project", htmlAttributes: new { @class = "control-label col-md-2" })
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr id="tr0">
                <td>
                    @Html.DropDownList("asignproject[0].lab_no", new List<SelectListItem>(ViewBag.lab_no), htmlAttributes: new { @class = "form-control", @id = "lab_no0" })
                    @Html.ValidationMessageFor(model => model[0].lab_no, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.DropDownList("asignproject[0].Project", new List<SelectListItem>(ViewBag.Project), htmlAttributes: new { @class = "form-control", @id = "Project0" })
                    @Html.ValidationMessageFor(model => model[0].Project, "", new { @class = "text-danger" })
                </td>
                <td id="re"></td>
            </tr>
            <tr id="tablerow1"></tr>
        </tbody>
    </table>
    <div class="col-sm-2">
        <input type="button" class="btn btn-default" value="add" id="add" name="add" />
    </div>
}

