@model onlygodknows.Models.asignproject

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>asignproject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.asigneddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asigneddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectList.ProjectCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectList.ProjectCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LabourMaster.VisaSponser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LabourMaster.VisaSponser)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
